<h1>reset-password</h1>

<%
if(typeof error !== 'undefined'){
    %>
    <h3><% error %></h3>
    <%
}

%>
<from action="/reset-password?token=<%= resetData.token %>" method="POST">
    <input type="hidden" name="user_id" value="<%= resetData.user_id>">
    <intput type="password" name ="password" required aria-placeholder="new passowrd">
    <br><br>
    <intput type="password" name ="c_password" required aria-placeholder="confirm passowrd">
    <br><br>
    <intput type="submit" value="Reset passowrd">
</from>

